{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "AllowedHosts": "*",
  "ConnectionStrings": {
    "DefaultConnection": "Server=YOUR_SERVER;Database=YOUR_DATABASE;User Id=YOUR_USER;Password=YOUR_PASSWORD;TrustServerCertificate=True;"
  },
  "JwtSettings": {
    "ValidIssuer": "YOUR_ISSUER",
    "ValidAudience": "YOUR_AUDIENCE",
    "Expires": 60,
    "RefreshTokenExpires": 10080,
    "SecretKey": "YOUR_SECRET_KEY_HERE"
  },
  "EmailServiceConfiguration": {
    "From": "noreply@example.com",
    "SmtpServer": "smtp.example.com",
    "Port": 587,
    "Username": "YOUR_EMAIL_USERNAME",
    "Password": "YOUR_EMAIL_PASSWORD"
  },
  "AWS": {
    "Profile": "default",
    "Region": "us-east-1",
    "AccessKey": "YOUR_AWS_ACCESS_KEY",
    "SecretKey": "YOUR_AWS_SECRET_KEY",
    "BucketName": "YOUR_BUCKET_NAME"
  },
  "Firebase": {
    "DatabaseUrl": "https://YOUR_PROJECT.firebaseio.com"
  }
}
